.line {
  border: 1px solid;
  height: 0;
  place-self: center;
  width: 20px;
}
.sideLine {
  border: 0 solid;
  height: 100%;
}
.sideEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}
.side div,
.side h2,
.side h3 {
  transition: ease 500ms;
}
