.line {
  border: 1px solid var(--mdGreen);
  height: 0;
  place-self: center;
  width: 20px;
}
.sideLIne {
  border: 0 solid var(--mdGreen);
}
.sideEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
}
