#serviceTree {
  overflow: hidden;
  transition: ease 500ms;
}
.line {
  border: 1px solid;
  height: 0;
  place-self: center;
  width: 20px;
}
.sideLine {
  border: 0 solid;
  height: 100%;
}
.sideEl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
  background-color: var(--mdGray);
  z-index: 1;
}
.side div,
.side h2,
.side h3,
.sel {
  transition: ease 500ms;
}
.sel {
  color: var(--ltGreen);
  border: solid var(--ltGreen);
  border-width: 0 1px;
  padding: 10px;
  width: 250px;
}
